#about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-see-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#about-info:hover{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#about-info:not(:hover){
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.is{
    box-shadow: inset 0 0 10px #00000017;
}

.os-r{
    box-shadow: 0 0 25px #b900005a;
}

.about-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}

.about-icons{
    width: 50px;
    height: auto;
}

.about-icons-c {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.certification-card{
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.c-card-text{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}